/*-- Body Reset --*/


body.b-altius {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  overflow-x: hidden;
}

body.b-altius .ui-widget {
  font-size: 1em !important;
}


/*============= TOP NAVIGATION =============*/

body.b-altius  .navbar-brand img {
  height: 2rem;
}

body.b-altius  #topbar {
  background: #1a73e8;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 50px;
  overflow: hidden;
  width: 100%;
}

/*============= OFFCANVAS PLATFORM NAVIGATION (mobile collapsible side bar) =============*/

body.b-altius .offcanvas  .nav-item {
  padding: 0.5rem;
  font-size: 1.3em;
}


/*============= MODULE PART (MAIN) =============*/

#main {
  position: fixed;
  width: 100%;
}

/** ---- Fixed left side module navigation bar ---- */

body.b-altius  .col-fixed {
  position: relative;
  /*border: 1px solid lightgrey;*/
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  width: 100%;

}

body.b-altius  .col-fixed i {
  color: dimgray;
}

/** ---- fluid right main area ---- */

body.b-altius  .col-fluid {
  border: 1px solid lightgrey;
  border-top-width: 0;
  min-height: 1px;
  padding: 0 0 0 0;
}

@media (min-width: 768px)  {
  body.b-altius  .col-fixed {
      width: 250px;
  }
  body.b-altius  .col-fluid {
      width: calc(100% - 250px);
  }
}

/*============= Cards Styling =============*/


/* List groups styling  */
body.b-altius  .list-group {
  font-size: 1.2em;
  border-top-width: 0px!important;
}

body.b-altius  .card .list-group a {
  padding-top:10px;
  padding-bottom: 10px;
}

body.b-altius .card .list-group-item {
  color: #212529;
  text-decoration: none;
}

/* card with no border */
body.b-altius .card-noborder, body.b-altius .card-noborder .list-group-item {
  border-left: none;
  border-right: none;
  border-top:none;
  border-bottom: none
}

body.b-altius .list-group-noborder>.list-group-item {
  border-width: 0 0 0px!important;
  border-bottom-width: 0px!important;
}


/*============= VIEW HEADER  =============*/
body.b-altius  .view-header {
  background-color: white;
  padding-top:0.9em;
  padding-bottom:0.9em;
  font-size: 1.5em;
  height: 50px;
}






